/* Estilos para el formulario */

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0c6f96;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Estilos para la tarjeta (Card) */
.card {
    border: 2px solid green;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: #f9f9f9;
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.card p {
    margin: 5px 0;
}